*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-decoration: none;
  position: relative;
}

body {
  position: relative;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  background-color: #d1e0b7;
  min-height: 100%;
  overflow-x: hidden;
}

section {
  height: 100vh;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .form {
  width: 100%;
  position: relative;
}

.project .form__control-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem 2rem;
  margin: 0px;
}

.project .form__control-btns--send {
  font-size: 4rem;
}

.project .form__control-btns .button {
  font-size: 1.2rem;
  padding: 1em;
  margin: 0;
  text-transform: none;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
  border: none;
}

.project .form__control-btns .button:hover {
  background-color: white;
  color: green;
}

.project .form__fieldset {
  max-width: 100%;
  background-color: rgba(65, 65, 65, 0.1);
  padding: 0.5rem;
  font-size: 2rem;
}

.project .form__fieldset legend {
  font-size: 2rem;
  text-align: start;
  text-shadow: 1px 1px 1px #000000;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.project .form__item {
  padding: 1rem;
}

.project .form__item--fake {
  display: none;
}

.project .form__item--position {
  position: absolute;
  left: 4000px;
}

.project .form__item label {
  display: inline-block;
  margin-bottom: 0rem;
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

.project .form__item input {
  width: 100%;
  text-align: center;
  border: transparent;
  border-radius: 3px;
  height: 3rem;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 1.8rem;
}

.project .form__item input:focus {
  caret-color: transparent;
  outline: 0;
  background-color: transparent;
  color: white;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.project .form__item--check {
  padding: 1rem;
  display: inline-block;
}

.project .form__item--check .regulations {
  font-size: 1.5rem;
  color: white;
}

.project .form__item--check input[type="checkbox"] {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  margin: 0;
  padding: 0;
}

.project .form__item--check .regulations {
  cursor: pointer;
  text-shadow: none;
}

.project .form__item--check input[type="checkbox"]:checked {
  display: inline-block;
  background-color: transparent;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.project .form__item--check input[type="checkbox"]:after {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: FontAwesome;
  content: "\f00c";
  color: white;
  font-size: 1.5rem;
  vertical-align: top;
}

.project .form__item--check .box {
  text-align: center;
}

.project .form__item .letter-up {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  color: white;
  font-size: 1.4rem;
}

.project .form__item textarea {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  font-size: 1.8rem;
  font-family: "Cormorant Garamond", sans-serif;
  border: transparent;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  resize: vertical;
}

.project .form__item textarea:focus {
  caret-color: transparent;
  outline: 0;
  background-color: transparent;
  color: white;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.project .form__item.error input {
  border: 1px solid red;
}

.project .form__item.error textarea {
  border: 1px solid red;
}

.project .form__item .error-text {
  visibility: hidden;
  margin: 5px 0 0 10px;
  color: #ffe0e0;
  text-shadow: none;
  font-size: 1.4rem;
}

.project .form__item.error .error-text {
  visibility: visible;
}

.project .popup-form {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  font-size: 2.5rem;
  width: 100%;
  height: 100%;
}

.project .show-popup {
  visibility: visible;
  opacity: 1;
}

.project .close-fieldset {
  opacity: 0;
  visibility: 0;
}
/*# sourceMappingURL=style.css.map */